<?php list($from, $to) = $this->getDatesRangeFromRequestParameters(); ?>

<style>
    div.form-field {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    button.submit-button {
        padding: 5px;
    }

    ol.numbered {
        list-style: decimal;
    }
</style>

<form method="get" style="margin-bottom: 25px;">
    <div class="form-field">
        <label>From:</label>
        <input name="from" type="date" required value="<?php echo $from; ?>">
    </div>
    <div class="form-field">
        <label>To:</label>
        <input name="to" type="date" required value="<?php echo $to; ?>">
    </div>

    <div class="form-field">
        <p>Submit:</p>
        <button type="submit" class="submit-button">Submit</button>
    </div>
</form>

<h3>Sold products:</h3>

<ol class="numbered">
    <?php foreach ($this->getSoldProducts() as $product) {
        echo "<li>{$product->getName()} #{$product->getSku()}</li>";
    } ?>
</ol>
