<div>
    Countdown date: <span id="timer"></span>
</div>

<script>
    function ajaxGet(url, handler) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) handler(xhr.responseText);
        };
        xhr.open('GET', url);
        xhr.send()
    }

    ajaxGet('http://mage1dev.local/e4t1/index/getCountdownDate?productId=<?php echo $this->getCurrentProductId(); ?>',
        function (response) {
            let tillDate = new Date(response * 1000);
            countdown(tillDate,
                function (ts) {
                    document.getElementById('timer').innerHTML = ts.toString();
                },
                countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS);
        }
    )
</script>
