<?php $selectedProduct = $this->getSelectedProduct(); ?>

    <style>
        div.form-field {
            margin-bottom: 10px;
        }

        button.submit-button {
            padding: 5px;
        }

        ul.inner {
            padding-left: 25px;
        }
    </style>

    <form method="get" style="margin-bottom: 25px;">
        <div class="form-field">
            <label>Product:</label>
            <select name="productId" required>
                <?php foreach ($this->getProducts() as $product) {
                    $selectedString = $selectedProduct != null && $product['entity_id'] == $selectedProduct->getId() ? "selected" : "";
                    echo "<option value='$product[entity_id]' $selectedString>#$product[sku] $product[name]</option>";
                } ?>
            </select>
        </div>

        <button type="submit" class="submit-button">GO</button>
    </form>

<?php if ($selectedProduct != null) { ?>
    <h3><?php echo $selectedProduct->getName(); ?>:</h3>

    <ul>
        <li>Price: <?php echo $selectedProduct->getPrice(); ?></li>
        <li>Special price: <?php echo $selectedProduct->getSpecialPrice() ?? "N/A"; ?></li>
        <li>Tier price:
            <ul class="inner">
                <?php
                $tierPrices = $selectedProduct->getTierPrice();
                foreach ($tierPrices as $tierPrice) {
                    echo "<li>Qty: $tierPrice[price_qty]; Price: $tierPrice[price]</li>";
                }
                ?>
            </ul>
        </li>
        <li>Manufacturer retail price: <?php echo $selectedProduct->getMsrp() ?? "N/A"; ?></li>
        <li><b>Final</b> price: <?php echo $selectedProduct->getFinalPrice(); ?></li>
    </ul>
<?php } ?>