<?php $selectedProduct = $this->getSelectedProduct(); ?>

    <style>
        div.form-field {
            margin-bottom: 10px;
        }

        button.submit-button {
            padding: 5px;
        }
    </style>

    <form method="get" style="margin-bottom: 25px;">
        <div class="form-field">
            <label>Product:</label>
            <select name="productId" required>
                <?php foreach ($this->getProducts() as $product) {
                    $selectedString = $selectedProduct != null && $product['entity_id'] == $selectedProduct->getId() ? "selected" : "";
                    echo "<option value='$product[entity_id]' $selectedString>#$product[sku] $product[name]</option>";
                } ?>
            </select>
        </div>

        <button type="submit" class="submit-button">GO</button>
    </form>

<?php
if ($selectedProduct != null) {
    $matchingRules = $this->getSelectedProductCatalogRules(); ?>
    <ul>
        <?php foreach ($matchingRules as $matchingRule) {
            echo "<li>{$matchingRule->getName()} - {$matchingRule->calcProductPriceRule($selectedProduct, $selectedProduct->getPrice())}</li>";
        } ?>
    </ul>
<?php } ?>