<style>
    div.form-field {
        margin-bottom: 10px;
    }

    button.submit-button {
        padding: 5px;
    }

    ol.numbered {
        list-style: decimal;
    }
</style>

<form method="get" style="margin-bottom: 25px;">
    <div class="form-field">
        <label>Category:</label>
        <select name="categoryId" required>
            <?php
            $selectedCategoryId = $this->getSelectedCategoryId();
            foreach ($this->getCategories() as $category) {
                $selectedString = $category['entity_id'] == $selectedCategoryId ? "selected" : "";
                echo "<option value='$category[entity_id]' $selectedString>#$category[entity_id] $category[name]</option>";
            } ?>

        </select>
    </div>

    <button type="submit" class="submit-button">GO</button>
</form>

<h3>Enabled products:</h3>

<ol class="numbered">
    <?php foreach ($this->getProductsInCategory() as $product) {
        echo "<li>$product[name] #$product[sku]</li>";
    } ?>
</ol>