<?php $selectedCatalogPriceRule = $this->getSelectedCatalogPriceRule(); ?>

    <style>
        div.form-field {
            margin-bottom: 10px;
        }

        button.submit-button {
            padding: 5px;
        }

        ul.inner {
            padding-left: 25px;
        }
    </style>

    <form method="get" style="margin-bottom: 25px;">
        <div class="form-field">
            <label>Catalog rule:</label>
            <select name="productId" required>
                <?php foreach ($this->getCatalogPriceRules() as $catalogPriceRule) {
                    $selectedString = $selectedCatalogPriceRule != null && $catalogPriceRule->getId() == $selectedCatalogPriceRule->getId() ? "selected" : "";
                    echo "<option value='{$catalogPriceRule->getId()}' $selectedString>#{$catalogPriceRule->getId()} {$catalogPriceRule->getName()}</option>";
                } ?>
            </select>
        </div>

        <button type="submit" class="submit-button">GO</button>
    </form>

<?php if ($selectedCatalogPriceRule != null) { ?>
    <h3><?php echo $selectedCatalogPriceRule->getName(); ?>:</h3>

    <ul>
        <?php
        foreach ($selectedCatalogPriceRule->getMatchingProductIds() as $productId => $stores) {
            $productName = $this->getProductNameById($productId);
            echo "<li>$productName</li>";
        }
        ?>
    </ul>
<?php } ?>